<div class="weeklydays">
    <section title=".slideThreeMonday">
        <!-- .slideThree -->
        <div class="weekday">Monday</div>
        <div class="slideThreeMonday">
            <input type="checkbox" value="None" id="slideThreeMonday" name="check" />
            <label for="slideThreeMonday"></label>
        </div>
        <!-- end .slideThree -->
    </section>
    <section title=".slideThreeTuesday">
        <!-- .slideThree -->
        <div class="weekday">Tuesday</div>
        <div class="slideThreeTuesday">
            <input type="checkbox" value="None" id="slideThreeTuesday" name="check" />
            <label for="slideThreeTuesday"></label>
        </div>
        <!-- end .slideThree -->
    </section>
    <section title=".slideThreeWednesday">
        <!-- .slideThree -->
        <div class="weekday">Wednesday</div>
        <div class="slideThreeWednesday">
            <input type="checkbox" value="None" id="slideThreeWednesday" name="check" />
            <label for="slideThreeWednesday"></label>
        </div>
        <!-- end .slideThree -->
    </section>
    <section title=".slideThreeThursday">
        <!-- .slideThree -->
        <div class="weekday">Thursday</div>
        <div class="slideThreeThursday">
            <input type="checkbox" value="None" id="slideThreeThursday" name="check" />
            <label for="slideThreeThursday"></label>
        </div>
        <!-- end .slideThree -->
    </section>
    <section title=".slideThreeFriday">
        <!-- .slideThree -->
        <div class="weekday">Friday</div>
        <div class="slideThreeFriday">
            <input type="checkbox" value="None" id="slideThreeFriday" name="check" />
            <label for="slideThreeFriday"></label>
        </div>
        <!-- end .slideThree -->
    </section>
    <section title=".slideThreeSaturday">
        <!-- .slideThree -->
        <div class="weekday">Saturday</div>
        <div class="slideThreeSaturday">
            <input type="checkbox" value="None" id="slideThreeSaturday" name="check" />
            <label for="slideThreeSaturday"></label>
        </div>
        <!-- end .slideThree -->
    </section>
    <section title=".slideThreeSunday">
        <!-- .slideThree -->
        <div class="weekday">Sunday</div>
        <div class="slideThreeSunday">
            <input type="checkbox" value="None" id="slideThreeSunday" name="check" />
            <label for="slideThreeSunday"></label>
        </div>
        <!-- end .slideThree -->
    </section>
</div>
