<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>mDoc :: Appointment</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <h2 class="form-signin-heading main-logo">mDoc Scheduler</h2>
        <style>
        .main-logo {
            font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
            color: #fed136;
        }
        </style>
        <form class="form-signin" action="/register" method="post">
            <h2 class="form-signin-heading sign-header">Register</h2>
            <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Name" required minlength="3">
            <label for="inputEmail" class="sr-only">Name</label>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" value="" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="confirm_password" class="form-control" placeholder="Password" required>
            <h3>Who Am I ? </h3>
            <select name="role">
                <option selected="selected" disabled="disabled">Choose option</option>
                <option value="1">Doctor</option>
                <option value="2">RMP</option>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <a href="/login" class="the-links">Or, Login </a>
        </form>
    </div>
    <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <style>
    .btn-primary {
        margin-top: 5px;
    }
    
    .the-links {
        color: white;
        font-size: 15px;
    }
    
    .the-links:hover {
        margin-top: 100px;
        color: white;
        text-decoration: none;
    }
    
    html,
    body {
        width: 100%;
        height: 100vh;
        color: white;
    }
    
    body {
        /*background-image: url("https://s3-ap-southeast-1.amazonaws.com/ictexpo/ryte_club/header.jpg");
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-repeat: no-repeat;*/
        background-color: rgba(0, 0, 0, .9);
    }
    
    .container {
        width: 1170px;
        padding-top: 20vh;
    }
    
    .sign-header {
        font-size: 20px;
    }
    
    .form-control {
        width: 25%;
    }
    
    .btn-block {
        width: 25%;
    }
    
    .btn-facebook {
        color: #ffffff;
        background-color: #3b5998;
        border-color: #8b9dc3;
    }
    
    .btn-lg,
    .btn-group-lg>.btn {
        padding: 8px 27px;
        margin-bottom: 20px;
    }
    
    .form-control,
    input {
        margin-top: 5px;
    }
    </style>
    <script>
    var form = document.getElementById("form");
    form.addEventListener("blur", function(event) {
        hideKeyboard();
    }, true);

    function hideKeyboard() {
        document.activeElement.blur();
        Array.prototype.forEach.call(document.querySelectorAll('input, textarea'), function(it) {
            it.blur();
        });
    }
    </script>
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
