<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>mDoc :: Appointment</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesnt work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">mDoc Appintment</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/newjournal">Set Appointments %></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/allslots">View Slots </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/dashboard">
                            <%= fullname %>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <style>
    body {
        background-color: rgba(0, 0, 0, .9);
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    
    footer {
        margin: 50px 0;
    }
    
    p {
        color: white;
    }
    
    h2 {
        text-transform: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    </style>
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="page-header">
                    <small>Schedule Slot</small>
                </h1>
                <div id="journals"></div>
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="container">
                                <div class='col-md-5'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker6'>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-md-5'>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker7'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                            $(function() {

                                var minimumDate = Date.now();
                                var maximumDate = Date.now();
                                $('#datetimepicker6').datetimepicker({
                                    inline: true,
                                    sideBySide: true
                                });
                                $('#datetimepicker7').datetimepicker({
                                    inline: true,
                                    sideBySide: true,
                                    useCurrent: false //Important! See issue #1075
                                });
                                $("#datetimepicker6").on("dp.change", function(e) {
                                    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                                    console.log("min date" + e.date);
                                    minimumDate = e.date;
                                });
                                $("#datetimepicker7").on("dp.change", function(e) {
                                    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                                    console.log("max date" + e.date);
                                    maximumDate = e.date;
                                });


                                $(".btn-primary").click(function() {
                                    console.log("Hello");
                                    console.log("min date" + minimumDate);
                                    console.log("max date" + maximumDate);
                                    var minDate = new Date(minimumDate);
                                    var maxDate = new Date(maximumDate);
                                    console.log("minimum day " + minDate.getDate());
                                    console.log("minimum day hour" + minDate.getHours());

                                    console.log("maximum day " + maxDate.getDate());
                                    if ((minDate.getDate() != maxDate.getDate()) || (minDate.getMonth() != maxDate.getMonth()) || (minDate.getYear() != maxDate.getYear())) {
                                        sweetAlert("Oops...", "Please select the same day!", "error");
                                    } else {
                                        var slotData = {
                                            "startTime": minDate,
                                            "endTime": maxDate
                                        };

                                        //console.



                                        $.ajax({
                                            type: "POST",
                                            url: "/slots/",
                                            contentType: "application/json; charset=utf-8",
                                            dataType: "json",
                                            data: JSON.stringify(slotData),
                                            success: function(data) {

                                                console.log("yay");
                                                //swal("Good job!", "You clicked the button!", "success");
                                                swal({
                                                    title: "Slot Allocated!",
                                                    text: "Please check the calendar to see the slots.",
                                                    timer: 2000,
                                                    type: "success",
                                                    showConfirmButton: false
                                                });



                                            }
                                        });









                                    }

                                });
                            });
                            </script>
                        </div>
                    </div>
                    <input type="checkbox" name="vehicle" value="Bike"> Monday
                    <br>
                    <input type="checkbox" name="vehicle" value="Car"> Tuesday
                    <br>
                    <input type="checkbox" name="vehicle" value="Bike"> Wednesday
                    <br>
                    <input type="checkbox" name="vehicle" value="Car"> Thusrday
                    <br>
                    <input type="checkbox" name="vehicle" value="Bike"> Friday
                    <br>
                    <input type="checkbox" name="vehicle" value="Car"> Saturday
                    <br>
                    <input type="checkbox" name="vehicle" value="Bike"> Sunday
                    <br>
                    <button class="btn btn-lg btn-primary btn-block">Schedule</button>
                </div>
            </div>
        </div>
        <style>
        body {
            color: white;
        }
        
        small {
            text-decoration: none;
            text-transform: none;
        }
        
        .btn-block {
            width: 25%;
        }
        
        .btn-lg,
        .btn-group-lg>.btn {
            padding: 8px 27px;
        }
        </style>
        <!-- /.row -->
        <!-- Footer -->
        <footer>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; mDoc LLC 2014</p>
                </div>
                
            </div> -->
            <!-- /.row -->
        </footer>
    </div>
    <script>
    </script>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap/bootstrap.js"></script>
    <script src="js/moment-with-locales.js"></script>
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script src="js/sweetalert.min.js"></script>
</body>

</html>
